In [11]:
import pandas as pd

In [12]:
contas1_0 = pd.read_csv("contas1.0.csv")
transacoes = pd.read_csv("transacoes.csv")

In [13]:
transacoes

,cod_transacao,num_conta,data_transacao,nome_transacao,valor_transacao
0,3100,256,2020-05-22 03:15:21 UTC,Saque,-130.0
1,28405,256,2021-06-29 11:52:38 UTC,Saque,-255.0
2,1776,512,2020-05-17 13:04:50 UTC,Saque,-250.0
3,14311,512,2020-09-06 02:55:34 UTC,Saque,-80.0
4,25012,512,2020-10-16 09:26:52 UTC,Saque,-475.0
...,...,...,...,...,...
71994,17007,764,2022-12-29 23:59:59.746608 UTC,Transferência entre CC - Crédito,82.3
71995,22320,764,2022-12-29 23:59:59.055028 UTC,Transferência entre CC - Crédito,414.8
71996,8697,509,2012-05-07 13:45:41 UTC,Transferência entre CC - Crédito,720.4
71997,11574,766,2015-09-19 05:13:07 UTC,Transferência entre CC - Crédito,1143.0
71998,64396,766,2022-12-29 23:59:59.607373 UTC,Transferência entre CC - Crédito,420.7

In [14]:
contas1_0

,Unnamed: 0,num_conta,cod_cliente,cod_agencia,cod_colaborador,tipo_conta,data_abertura,saldo_total,saldo_disponivel,data_ultimo_lancamento,tipo_agencia
0,0,53,53,1,7,PF,2011-05-24 15:30:00 UTC,2984.7615,2814.67,2019-07-02 11:03:46 UTC,Agencia Fisica
1,1,190,190,1,7,PF,2014-10-17 14:48:00 UTC,4262.4322,4191.86,2021-03-25 12:00:15 UTC,Agencia Fisica
2,2,191,191,1,7,PF,2013-03-23 14:14:00 UTC,3266.5680,3080.71,2016-09-09 23:34:15 UTC,Agencia Fisica
3,3,203,203,1,7,PF,2016-08-03 16:13:00 UTC,21241.5424,19461.56,2022-12-28 07:58:24 UTC,Agencia Fisica
4,4,254,254,1,7,PF,2012-10-24 13:48:00 UTC,13335.6966,13197.54,2013-12-20 22:20:00 UTC,Agencia Fisica
...,...,...,...,...,...,...,...,...,...,...,...
994,994,466,466,10,8,PF,2022-10-26 14:13:00 UTC,7847.4165,9351.63,2022-12-30 00:00:00.319185 UTC,Agencia Fisica
995,995,764,764,10,8,PF,2022-09-08 11:06:00 UTC,65495.1872,64823.14,2022-12-29 23:59:59.964121 UTC,Agencia Fisica
996,996,488,488,10,18,PF,2022-07-16 10:16:00 UTC,8663.6081,6836.57,2022-12-30 00:00:00.966349 UTC,Agencia Fisica
997,997,395,395,10,95,PF,2022-12-01 15:27:00 UTC,23156.2065,21578.33,2022-12-30 00:00:00.607818 UTC,Agencia Fisica
998,998,355,355,10,100,PF,2022-10-22 14:50:00 UTC,10680.1524,10336.34,2022-12-29 23:59:59.739032 UTC,Agencia Fisica

In [17]:
transacoes = transacoes.merge(contas1_0[["num_conta", "tipo_agencia"]])
transacoes

,cod_transacao,num_conta,data_transacao,nome_transacao,valor_transacao,tipo_agencia
0,3100,256,2020-05-22 03:15:21 UTC,Saque,-130.00,Agencia Digital
1,28405,256,2021-06-29 11:52:38 UTC,Saque,-255.00,Agencia Digital
2,3190,256,2020-06-06 02:06:41 UTC,Compra Débito,-31.12,Agencia Digital
3,4466,256,2020-06-06 04:16:53 UTC,Compra Débito,-33.74,Agencia Digital
4,8455,256,2020-06-06 11:27:06 UTC,Compra Débito,-7.52,Agencia Digital
...,...,...,...,...,...,...
71994,13438,252,2019-10-11 03:44:23 UTC,Depósito em espécie,41.47,Agencia Fisica
71995,21265,252,2020-05-04 18:36:40 UTC,Depósito em espécie,15.40,Agencia Fisica
71996,24126,252,2020-05-16 16:01:42 UTC,Depósito em espécie,44.24,Agencia Fisica
71997,31758,252,2020-09-03 12:43:10 UTC,Depósito em espécie,54.85,Agencia Fisica
71998,36759,252,2021-01-05 06:36:01 UTC,Depósito em espécie,6.20,Agencia Fisica

In [ ]:
transacoes.to_csv("transcoes1.0.csv")